.container-fluid#stories
  .row
    .col-md-2
    .col-md-8.card
      %h1 Chapter Notes
      - @chapters.each do |chapters|
        .panel
          .panel-head
            %h2
              = chapter.title




