.container-fluid#sections
	.row
		.col-md-1
		.col-md-10
			.card
				%h1{style: "font-family:Rokkitt"}
					= "Rokkitt"
				%h1{style: "font-family:Syncopate"}
					= "Syncopate"
				%h1{style: "font-family:Arvo"}
					= "Arvo"								
