.modal-dialog.edit-note-modal
	.modal-content
		%button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: :button, class: "btn-dialog-close" }
			%i.fas.fa-times-circle
		.modal-body
			= simple_form_for @footnote, remote: true do |f|
				=f.input :a_number
				=f.input :footnote	
				.modal-footer
					= f.hidden_field :section_id, value: @section.id   
					= f.submit 'Save', class: 'btn btn-primary right'
						           			   
						           			   