.container-fluid#sections
  .row
    .col-md-1
    .col-md-2.scroller-container.rounded-left
      =link_to new_section_path do
        %i.fas.fa-plus
      %hr  
      -@sections.each do |item|
        %a{href: "#chapter-#{item.id}", class: "scrollLink"}
          =item.title
        %br
    .col-md-8.scroller-container.rounded-right
      -@sections.each do |page| 
        .section-page{id: "chapter-#{page.id}", data:{page: page.id}}
          .row
            .col-md-11
              %h3
                =page.title
            .col-md-1.action-icon
              - if user_signed_in? and current_user.role_cd > 0
                =link_to edit_section_path(page) do
                  %i.fas.fa-pencil-alt
          .row
            .col-md-12
              .section-body
                =page.body.to_s.html_safe




