.container-fluid#sections
  .row
    .col-md-2
    .col-md-8.col-sm-12
      .card
        = render 'form'

.modal.fade{ role: "dialog", id: "edit_note_modal_box" }

.modal.fade{ role: "dialog", id: "edit_footnote_modal_box" }

