.container-fluid#sections
  .row
    .col-md-1
    .col-md-2.scroller-container
      -@sections.each do |item|
        %a{href: "#chapter-#{item.id}", class: "scrollLink"}
          =item.title
        %br
    .col-md-8.scroller-container
      -@sections.each do |page| 
        .row.section-page{id: "chapter-#{page.id}", data:{page: page.id}}
          .col-md-11
            %h3
              =page.title
          .col-md-1
            - if user_signed_in? and current_user.role_cd > 0
              =link_to section_path(page) do
                %i.fa.fa-edit
        .row
          .col-md-12
            =page.body.html_safe




