.container-fluid#sections
  .row
    .col-md-1
    .col-md-2.scroller-container
      -@sections.each do |item|
        %a{href: "#chapter-#{item.id}", class: "scrollLink"}
          =item.title
        %br
    .col-md-8.scroller-container
      -@sections.each do |page| 
        .row.section-page{id: "chapter-#{page.id}", data:{page: page.id}}
          %h3
            =page.title
          =page.body.html_safe




