%nav.navbar.navbar-fixed-top{style: "top:52px;"}
  .sidebar-date.pull-right
    Today is #{DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate)}   
    %i.fa.fa-chevron-right.sidebar-toggle{"aria-hidden" => "false", "data-placement" => "left", "data-toggle" => "tooltip", title: "Show/Hide Sidebar."}
#row-main.row
  #mySidenav.col-md-2.sidenav.sidenav-open
    = render "sidebar"
  #main.col-md-10.main-collapsed
    = render "list"