// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sections{
  .section-show-body {
    border: 1px solid #000
  }  
  .form-control-label {
    color: #fff !important;
  }
  .field, .actions {
    margin: 1rem;
  }
  .action-icon {
    a {
      margin-top:15px;
      font-size: 30px;
    }
  }	  
  .card {
    color: #000;
    background-color: #fff;
	  th {
		  padding: 2px 5px;
	  }
	  td {
		  padding: 2px 5px;
	  }  
	}
	.section-page {
	  width: 100%;
	  min-height:100%;
	  border-bottom: 2px solid #000;
	}

	.scroller-container{
	  overflow-y: scroll;
	  min-height:100%;
	  height:800px;
    background-color: #fff;
	}	
}
