$font-family-heading:     'Arvo', Georgia, 'Times New Roman', Times, serif !default;
$font-family-body:        'Arimo', Helvetica, Arial, sans-serif !default;
$font-family-content:     'Rokkitt', Georgia, 'Times New Roman', Times, serif !default;
