// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#transactions{
  .card {
    color: #000;
    background-color: #fff;
    table {
    	width: 100%;
    }
	  th {
		  padding: 2px 5px;
		  text-align: center;
	  }
	  td {
		  padding: 2px 5px;
	  }  
	  
	  td.left {
	  	text-align: left;
	  }

	  td.right {
	  	text-align: right;
	  }

	  td.center {
	  	text-align: center;
	  }
	}  	
} 
 
.new_ac_transaction, .edit_ac_transaction, .new_ac_schedule, .edit_ac_schedule {
	textarea{
		height: 34px;
	}
	.table{
		tr{
			background-color:#ccffcc;
		}
	}
	.form-group{
		margin-bottom: 0;
	}
	.dropdown-toggle{
		height: 34px;
		background-color: #ffffff;
		color: #000000;

	}
	.btn-default{
		font-size: 12px;
		padding: 8px 12px;
	}
  tr{ 
    background-color: #ccffcc;
  }

  .alt-input{
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: none; 
    margin-top: -34px;
  }

}