// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#transactions{
  .card {
    color: #000;
    background-color: #fff;
    table {
    	width: 100%;
    }

	} 
	.grayed {
		color: #bbbbbb;
	} 
  th {
	  padding: 2px 5px;
	  text-align: center;
  }
  td {
	  padding: 2px 5px;
  }  
  
  td.left, th.left {
  	text-align: left;
  }

  td.right, th.right {
  	text-align: right;
  }

  td.center, th,center {
  	text-align: center;
  }
  .status-toggle{
  	color: #f66;
  	cursor: pointer;
  	font-weight: bold;
  }
  li {
  	list-style: none;
  }
  .scrollbar-container {
  	height: 60vh;
  	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
  }
} 
 
.new_ac_transaction, .edit_ac_transaction, .new_ac_schedule, .edit_ac_schedule {
	.form-inputs{
		.row {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
		label {
			font-size: 14px;
		}		
	}
	textarea{
		height: 34px;
	}
	.table{
		background-color:#ebf2ff;
 		@media(min-width:768px) {
 			 margin-right: 4rem;
 			 margin-left: 2rem;
 			 padding-left: 1rem;
 			 padding-right: 1rem;
 			 font-size: 20px;
 		}
	}
	.form-group{
		margin-bottom: 0;
	}
	.dropdown-toggle{
		height: 34px;
		background-color: #ffffff;
		color: #000000;

	}
	.btn-default{
		font-size: 12px;
		padding: 8px 12px;
	}

  .alt-input{
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: none; 
    margin-top: -34px;
  }

}

@media (max-width: 992px) {
	.new_ac_transaction, .edit_ac_transaction, .new_ac_schedule, .edit_ac_schedule {
		.form-inputs{
			label {
				font-size: 36px;
			}			
			.form-control {
				font-size: 36px;
				height: 72px;
			}
		} 		
		textarea{
			height: 72px;
		}
		.btn {
			font-size: 54px;
		}
		datalist {
			option {
				font-size: 36px;
			}
		}
	}
	#transactions{
  	.card {
  		padding: 30px 40px 30px;
  	}
  }
}		
