%ul.nav.flex-column.mt-md-2
  %li.nav-item
    = nav_link ' Timer', timer_index_path, :timer, 'fa-solid fa-clock-rotate-left'
  %li.nav-item
    = nav_link ' Add slot', new_manual_slot_path, :manual, 'fa-solid fa-plus'
  %li.nav-item
    = nav_link ' Reports', reports_path, :reports, 'fa-solid fa-chart-pie'
  %li.nav-item
    = nav_link ' Projects', projects_path, :projects, 'fa-solid fa-book'
