%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header	
      %button.navbar-toggle.collapse-1{type: "button",  aria:{expanded:"false"}, data:{toggle: "collapse", target: "#navbar-collapse-1"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      =link_to image_tag("literallight_txt.png"), root_path, class: "navbar-brand" 
    
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse{id:"navbar-collapse-1"}
      -if user_signed_in?
        %ul.nav.navbar-nav
          %li.active
            =link_to 'Home', internal_home_path
          %li.dropdown
            %a.dropdown-toggle{data: {toggle:"dropdown"}, role:"button", href:"#", aria:{expanded:"false"}}
              About
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                =link_to 'This Site', html_pages_path(slug:"about")
              %li
                =link_to 'Contact', html_pages_path(slug:"contact")
              %li
                =link_to 'Test', html_pages_path(slug:"test")
          %li.dropdown
            %a.dropdown-toggle{data: {toggle:"dropdown"}, role:"button", href:"#", aria:{expanded:"false"}}
              Meditation
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                =link_to 'PMR', html_pages_path(slug:"pmr")
              %li
                =link_to 'Pranayama', html_pages_path(slug:"pranayama")
              %li
                =link_to 'Sadhu', html_pages_path(slug:"sadhu")
          %li.dropdown
            %a.dropdown-toggle{data: {toggle:"dropdown"}, role:"button", href:"#", aria:{expanded:"false"}}
              Reference
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                =link_to 'Star Trek', html_pages_path(slug:"startrek")
              %li
                =link_to 'Sysiphus', html_pages_path(slug:"sysiphus")
              %li
                =link_to 'Moderation', html_pages_path(slug:"moderation")
              %li
                =link_to 'Hugo/Nebula Awards', html_pages_path(slug:"hugo_nebula")
              %li
                =link_to 'Glossary', html_pages_path(slug:"glassary")
      %ul.nav.navbar-nav
        -if user_signed_in?
          %li
            =link_to 'Sign out', destroy_user_session_path, method: :delete 
        -else
          %li
            =link_to 'Login', new_user_session_path
